In [ ]:
#ASSIGNMENT 7 - GEOGRAPHICAL DATA - D8 DATASET  OF COLLECTABLES EXCHANGE APP

In [1]:
import piplite  # Load the piplite layer in the JupyterLite web environment, which is necessary for installing session-based libraries.
await piplite.install("openpyxl")  # Use await to install the openpyxl library for working with Excel files within a piplite wrapper in the JupyterLite session.
await piplite.install("folium")  # Use await to install the folium library for visualizing geospatial data within a piplite wrapper in the JupyterLite session.

In [2]:
import pandas as pd  # Import the pandas library for data processing and assign it the alias "pd".
import folium  # Import the folium library for visualizing geospatial data.

In [3]:
# Create a base map centered around San Diego, where the target customers for the Use Case focus groups are from, and assign it to a variable called "m".
m = folium.Map(location=[32.7157, -117.1611], zoom_start=9)

In [4]:
# Use the "read_excel()" function from the pandas library (imported as "pd") to read the coordinates from the Use Case D8 dataset provided by Dr. Mead.
coordinates = pd.read_excel("D8.xlsx")  # Truncate the filename to "D8.xlsx" to ensure the code works correctly in this starter codebook.

In [5]:
# Display the contents of the "coordinates" variable to view the data.
# The dataset contains two columns: "Latitude" and "Longitude" for the GPS data of target customers in the focus group.
coordinates

     Latitude   Longitude
0   32.742870 -117.518484
1   32.518996 -117.460069
2   32.907810 -117.398624
3   32.758091 -116.957397
4   32.847869 -117.146721
5   32.558081 -117.124310
6   32.811575 -117.399743
7   32.852119 -116.843464
8   32.709620 -117.548491
9   32.783209 -117.292119
10  32.536155 -117.198803
11  32.567485 -116.917028
12  32.589243 -116.968781
13  32.735951 -117.324392
14  32.892584 -117.072438
15  32.543267 -116.927517
16  32.763652 -116.991332
17  32.737068 -117.091320
18  32.821217 -117.550332
19  32.638426 -117.460755
20  32.677344 -117.032146
21  32.575811 -117.371921
22  32.891819 -117.387735
23  32.717673 -117.109185
24  32.526889 -117.443439
25  32.873599 -117.113323
26  32.567636 -117.017228
27  32.590506 -116.965797
28  32.839470 -116.968495
29  32.591027 -117.012422
30  32.717243 -117.283140
31  32.833201 -117.414438
32  32.861678 -116.939800
33  32.758287 -116.889739
34  32.578834 -116.813276
35  32.630704 -117.027027
36  32.722535 -117.185530
37  32.646674 -116.838046
38  32.732457 -116.964516
39  32.741915 -117.551383

In [6]:
# Use a for loop to iterate over the rows of the DataFrame and add markers for the latitude and longitude GPS data using the "Marker()" function from the folium library.
for index, row in coordinates.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    folium.Marker(location=[latitude, longitude]).add_to(m)

In [7]:
# Use the save() function to save the map to an HTML file.
m.save("map.html")