In [ ]:
# Activity - Experiment with Python Code Using DVP TCP D1 and D2
# Created by Dr. Esther Mead - SAU - LS24

In [ ]:
# Warning! Dr. Mead used a random use case to create this ipynb codebook.
# The output cells were left remaining in this codebook for illuatration purposes only to show examples of what error-free code could look like based on a given use case.
# Each team's use case data output will look different, and each team will need to edit some of the code where noted in this .ipynb codebook.
# Each team must use their team's D1 and D2 Data Dictionary (DD) sheets to understand their data (as demonstrated by Dr. Mead in the Class Session 4 video called, "Activity - Experiment with Python and R Code Using DVP TCP D1 & D2").
# To remove the output cells from the codebook, click "Edit" and select "Clear Outputs of All Cells" from among the menu along the top of the JuputerLite web-based IDE.

In [ ]:
# This activity requires that each team download their D1 and D2 DVP TCP Use Case dataset files from their Team folder on Blackboard and drag and drop them into the a white space of the files pane along the left of the JupyerLite web-based IDE.

In [1]:
# Section 1. Working with your DVP TCP D1 dataset.
# Import (and install when necessary) the required libraries and packages for this session
import pandas as pd # Use the "import" keyword to load a library called "pandas" for data processing and assign it to a variable called "pd".
import numpy as np # Use the "import" keyword to load a library called "numpy" for linear algebra and assign it to a variable called "np".
import matplotlib.pyplot as plt # Use the "import" keyword to load a module called "pyplot" from a library called "matplotlib" for creating Data Visualizations (DVs) and assign it to a variable called "plt".
import piplite # When using the JupyterLite web-based environment, the "import" keyword is used to load a layer called "piplite" that is needed for installing specific session-based libraries inside of a wrapper.
await piplite.install("openpyxl") # Use the "await" keyword for installing (when/if later called on) a library for working with Excel files called "openpyxl" from within a piplite wrapper for use in a session within the JupyterLite web-based environment.

In [ ]:
# Output the exact path of your current working directory by running the print working directory "pwd" command in the next code cell/block.

In [2]:
pwd

'/drive'

In [3]:
# Use the "import" keyword to load a module called "os" and use its "listdir()" function to list the contents of your current working directory
import os
os.listdir('/drive')

['Activity - Experiment with Python Code Using DVP TCP D1 and D2.ipynb',
 'D1.xlsx',
 'D2.xlsx',
 'data',
 'README.md',
 'notebooks']

In [4]:
# Use the "ExcelFile()" function from a library called "pandas" that was imported as "pd" to load an xlxs dataset and assign it to a variable called "D1".
D1 = pd.ExcelFile("/drive/D1.xlsx") # For this code to work, you will need to either edit the file path to include the entire name of your D1 dataset, or truncate the name of your dataset down to "D1.xlsx".

In [5]:
# Use the "sheet_names" attribute to get a list of the sheet names of a dataset that was assigned to a variable called "D1".
D1.sheet_names

['Data', 'Data Dictionary']

In [6]:
# Use the "read_excel()" from a library called "pandas" that was imported as "pd" to save the D1 "Data" sheet as a variable called "D1_data" for later use
D1_data = pd.read_excel(D1, "Data")

In [7]:
# Use the "head()" function to show the first five rows of the content of D1_data for data inspection.
D1_data.head()

   ID  Q1  Q2  Q3  Q4  Q5  Q6
0   1   2  10  21   3   6   3
1   2   2   6  20   3   2   1
2   3   2  10  20   3   2   4
3   4   2   3  20   3   2   2
4   5   2   5  21   3   2   1

In [8]:
# Use the "read_excel()" from a library called "pandas" that was imported as "pd" to save the D1 "Data Dictionary" sheet as a variable called "D1_DD" for later use
D1_DD = pd.read_excel(D1, "Data Dictionary")
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

In [9]:
# Call the "D1_DD" variable to print the entire contents to the screen for data inspection.
D1_DD
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

,ID,ResponseNO,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Q1,Gender,Male (1),Female (2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q2,Ethnicity,Ameridan Indian (1),African American (2),Mexican American (3),Other Hispanic (4),Asian (5),Southeast Asian (6),Pacific Islander (7),Filipino (8),Multiple Ethnicities (9),White (10),Other/Not Stated (11),International (12)
2,Q3,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q4,Classification,Freshman (1),Sophomore (2),Junior (3),Senior (4),Graduate (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q5,What college does your major belong to?,Arts & Letters (1),Business (2),Education (3),Engineering (4),Health & Human Services (5),Professional & Fine Arts (6),Sciences (7),Undergraduate Studies (8),Graduate Studies (9),NaN,NaN,NaN
5,Q6,Income (monthly),$499 or less (1),$500 to $999 (2),"$1,000 to $1,499 (3)","$1,500 to $1,999 (4)","$2,000 or more (5)",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Use the "T" attribute to Transpose the D1_DD dataframe to give another way to read it in an output cell. You decide which is easier for your and your team to understand.
D1_DD.T
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

,0,1,2,3,4,5
ID,Q1,Q2,Q3,Q4,Q5,Q6
ResponseNO,Gender,Ethnicity,Age,Classification,What college does your major belong to?,Income (monthly)
Unnamed: 2,Male (1),Ameridan Indian (1),NaN,Freshman (1),Arts & Letters (1),$499 or less (1)
Unnamed: 3,Female (2),African American (2),NaN,Sophomore (2),Business (2),$500 to $999 (2)
Unnamed: 4,NaN,Mexican American (3),NaN,Junior (3),Education (3),"$1,000 to $1,499 (3)"
Unnamed: 5,NaN,Other Hispanic (4),NaN,Senior (4),Engineering (4),"$1,500 to $1,999 (4)"
Unnamed: 6,NaN,Asian (5),NaN,Graduate (5),Health & Human Services (5),"$2,000 or more (5)"
Unnamed: 7,NaN,Southeast Asian (6),NaN,NaN,Professional & Fine Arts (6),NaN
Unnamed: 8,NaN,Pacific Islander (7),NaN,NaN,Sciences (7),NaN
Unnamed: 9,NaN,Filipino (8),NaN,NaN,Undergraduate Studies (8),NaN
Unnamed: 10,NaN,Multiple Ethnicities (9),NaN,NaN,Graduate Studies (9),NaN
Unnamed: 11,NaN,White (10),NaN,NaN,NaN,NaN
Unnamed: 12,NaN,Other/Not Stated (11),NaN,NaN,NaN,NaN
Unnamed: 13,NaN,International (12),NaN,NaN,NaN,NaN

In [11]:
#Section 2. Now, try to use the Python code that Dr. Mead wrote above for working with the DVP TCP D1 dataset to repeat the process for working with the D2 dataset in the space below. To guide you, Dr. Mead has inserted code comment lines for helping you to think of what code you need to place where.
# Use the "ExcelFile()" function from a library called "pandas" that was imported as "pd" to load an xlxs dataset and assign it to a variable called "D2".

In [12]:
# Use the "sheet_names" attribute to get a list of the sheet names of a dataset that was assigned to a variable called "D2".

['Data', 'Data Dictionary']

In [13]:
# Use the "read_excel()" from a library called "pandas" that was imported as "pd" to save the D2 "Data" sheet as a variable called "D2_data" for later use

In [14]:
# Use the "head()" function to show the first five rows of the content of D2_data for data inspection.

   ID       Date
0   1 2022-11-05
1   2 2022-03-04
2   3 2022-09-16
3   4 2022-05-10
4   5 2022-08-21

In [15]:
# Use the "read_excel()" from a library called "pandas" that was imported as "pd" to save the D2 "Data Dictionary" sheet as a variable called "D2_DD" for later use

In [16]:
# Use the "head()" function to show the first five rows of the content of the D2 variable for data inspection.

     ID  ResponseNO
0  Date  mm/dd/yyyy

In [17]:
# Use the "T" attribute to Transpose the D2_DD dataframe to give another way to read it in an output cell. You decide which is easier for your and your team to understand.

                     0
ID                Date
ResponseNO  mm/dd/yyyy

In [18]:
# Section 3. Merge the data sheets of the D1 and D2 datasets by the common ID column (Note: This code will not work until you complete Section 2 above.)
# Use the "merge()" from a library called "pandas" that was imported as "pd" to merge two datasets that were assigned to the variables "D1_data" and "D2_data", respectively, on the common column called "ID".
D1_D2_data = pd.merge(D1_data,D2_data,on="ID")

In [19]:
# Use the "head()" function to show the first five rows of the content of merged D1_D2_data for data inspection.
D1_D2_data.head()
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

   ID  Q1  Q2  Q3  Q4  Q5  Q6       Date
0   1   2  10  21   3   6   3 2022-11-05
1   2   2   6  20   3   2   1 2022-03-04
2   3   2  10  20   3   2   4 2022-09-16
3   4   2   3  20   3   2   2 2022-05-10
4   5   2   5  21   3   2   1 2022-08-21

In [20]:
# Use the "to_excel()" function on the "D1_D2_data" variable holding the dataframe to a separate XLSX file called "D1_D2_data.xlsx" for later use.
# After this code executes, you will see the new XLSX file show up in the content pane to the left.
D1_D2_data.to_excel("/drive/D1_D2_data.xlsx")

In [21]:
# Use the "columns" attribute to get a list of the column names in D1_D2_Data.
D1_D2_data.columns

Index(['ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Date'], dtype='object')

In [22]:
# Call the "D1_DD" variable again to print the entire contents to the screen for repeated data inspection.
D1_DD
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

,ID,ResponseNO,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Q1,Gender,Male (1),Female (2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q2,Ethnicity,Ameridan Indian (1),African American (2),Mexican American (3),Other Hispanic (4),Asian (5),Southeast Asian (6),Pacific Islander (7),Filipino (8),Multiple Ethnicities (9),White (10),Other/Not Stated (11),International (12)
2,Q3,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q4,Classification,Freshman (1),Sophomore (2),Junior (3),Senior (4),Graduate (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q5,What college does your major belong to?,Arts & Letters (1),Business (2),Education (3),Engineering (4),Health & Human Services (5),Professional & Fine Arts (6),Sciences (7),Undergraduate Studies (8),Graduate Studies (9),NaN,NaN,NaN
5,Q6,Income (monthly),$499 or less (1),$500 to $999 (2),"$1,000 to $1,499 (3)","$1,500 to $1,999 (4)","$2,000 or more (5)",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Extreme Warning! You must edit the executable code in the next cell to reflect the specific content that your team's use case contains.

In [23]:
# Section 4. Conduct some data engineering to rename the columns based on what the Data Dictionaries for D1 and D2 revealed.
# Use the "rename()" function to create a Python dictionary called "D1_D2_data_renamed_columns" that consists of key-value pairs where the key (left of the colon :) are the column codes labels, and the value (right of the colon :) are the explanation labels for the column names.
D1_D2_data_renamed_columns = D1_D2_data.rename(columns={"Q1": "Gender", "Q2": "Ethnicity", "Q3": "Age", "Q4": "Classification", "Q5": "What college does your major belong to?", "Q6": "Income (monthly)"})
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

In [24]:
# Call the "D1_D2_data_renamed_columns" variable to print the entire contents to the screen for viewing the results of your data engineering.
D1_D2_data_renamed_columns
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

,ID,Gender,Ethnicity,Age,Classification,What college does your major belong to?,Income (monthly),Date
0,1,2,10,21,3,6,3,2022-11-05
1,2,2,6,20,3,2,1,2022-03-04
2,3,2,10,20,3,2,4,2022-09-16
3,4,2,3,20,3,2,2,2022-05-10
4,5,2,5,21,3,2,1,2022-08-21
...,...,...,...,...,...,...,...,...
226,227,2,10,19,2,2,1,2022-08-28
227,228,1,12,21,3,2,5,2022-11-10
228,229,1,10,21,4,2,1,2022-11-05
229,230,2,10,22,4,6,3,2022-06-11
230,231,1,3,22,4,2,3,2022-03-12

In [25]:
# Use the "to_excel()" function on the "D1_D2_data_renamed_columns" variable holding the dataframe to a separate XLSX file called "D1_D2_data_renamed_columns.xlsx" for later use.
# After this code executes, you will see the new XLSX file show up in the content pane to the left.
D1_D2_data_renamed_columns.to_excel("/drive/D1_D2_data_renamed_columns.xlsx")

In [26]:
# Use the "read_excel" function from the "pandas" libary that was imported as "pd" to load your "D1_D2_data_renamed_columns" XLSX file that you created in the above cell.
D1_D2_data_renamed_columns = pd.read_excel("/drive/D1_D2_data_renamed_columns.xlsx")
# WARNING! Change the code in the above code line to your specific path and file name (if different from above).

In [27]:
# Use the "head()" function to show the first five rows of the content of the "D1_D2_data_renamed_columns" variable holding the dataframe for data inspection
D1_D2_data_renamed_columns.head()
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

,Unnamed: 0,ID,Gender,Ethnicity,Age,Classification,What college does your major belong to?,Income (monthly),Date
0,0,1,2,10,21,3,6,3,2022-11-05
1,1,2,2,6,20,3,2,1,2022-03-04
2,2,3,2,10,20,3,2,4,2022-09-16
3,3,4,2,3,20,3,2,2,2022-05-10
4,4,5,2,5,21,3,2,1,2022-08-21

In [28]:
# When you data engineered the new data asset called, "D1_D2_data_renamed_columns.xlsx" in an above step, Python added an index column to it and it is showing up after you execute the above cell as an "Unnamed" column in the first column index position.
# Use the "del" comman to delete that unnecessary column by using the "columns" attribute and identifying the unnamed column by column index position "0".
del D1_D2_data_renamed_columns[D1_D2_data_renamed_columns.columns[0]]

In [29]:
# Use the "head()" function to show the first five rows of the content of the "D1_D2_data_renamed_columns" dataframe again to look at it to see if the "Unnamed" column got removed.
D1_D2_data_renamed_columns.head()
# Warning! Dr. Mead used a random use case to create this ipynb codebook. Each team's use case data output will look different. Each team must use their DD output to understand their data.

,ID,Gender,Ethnicity,Age,Classification,What college does your major belong to?,Income (monthly),Date
0,1,2,10,21,3,6,3,2022-11-05
1,2,2,6,20,3,2,1,2022-03-04
2,3,2,10,20,3,2,4,2022-09-16
3,4,2,3,20,3,2,2,2022-05-10
4,5,2,5,21,3,2,1,2022-08-21

In [30]:
# Do some more data engineering by using the "DataFrame()" function from the "pandas" library that was imported as "pd" to create a new dataframe called "Age_Date" by extracting just the "Age" and "Date" columns from the "D1_D2_data_renamed_columns" dataframe.
Age_Date = pd.DataFrame(D1_D2_data_renamed_columns, columns=['Date', 'Age'])

In [31]:
# Use the "head()" function to show the first five rows of the content of the "Age_Date" dataframe for data inspection of your data engineering work.
Age_Date.head()

        Date  Age
0 2022-11-05   21
1 2022-03-04   20
2 2022-09-16   20
3 2022-05-10   20
4 2022-08-21   21

In [32]:
# Use the "columns" attribute to output a list of the column names of the "Age_Date" dataframe.
Age_Date.columns

Index(['Date', 'Age'], dtype='object')

In [33]:
# Use the "describe()" method to get the descriptive statistics for the "Age" column of the "Age_Date" dataframe.
Age_Date['Age'].describe()

count    231.000000
mean      22.043290
std        2.775332
min       18.000000
25%       21.000000
50%       22.000000
75%       22.000000
max       43.000000
Name: Age, dtype: float64

In [34]:
# Try the "describe()" method again, but this time add the "apply()" function that includes an argument that uses the "round()" function to cause the output to be rounded to remove the unnecessaery decimal places
Age_Date['Age'].describe().apply(lambda x:round(x,))

count    231
mean      22
std        3
min       18
25%       21
50%       22
75%       22
max       43
Name: Age, dtype: int64

In [35]:
# Use the "groupby()" function to group the revised "Age_Date" dataframe by "Date" and use the "mean()" function to show the average Age and the "apply()" function that includes an argument that uses the "round()" function to again rounded to remove decimal places and assign that all to a new variable called "processed_Age_Date"
processed_Age_Date = Age_Date.groupby(Age_Date.Date)['Age'].mean().apply(lambda x:round(x,))

In [36]:
# Use the "head()" function to show the first five rows of the content of the "processed_Age_Date" dataframe to the screen for data inspection of your data engineering and data processing work.
processed_Age_Date.head()

Date
2022-01-02    31
2022-01-07    23
2022-01-08    21
2022-01-10    21
2022-01-11    21
Name: Age, dtype: int64

In [ ]:
# Section 5. Now the "Age" and "Date" data is processed so that you can use it to create a Data Visualization (DV) to show the change in Age over time (Date).
# For this section, work on your own by adapting and inserting below the Python code that Dr. Mead demonstrated during the Class Session 4 video called, "Activity - Experiment with R and Python Code for DVP to Show How Data Change Over Time".
# Remember to save your codebook and download it when you are finished so that you do not lose your hard work.

In [ ]:
# End of codebook