In [ ]:
# Using Python Code To Explore your DVP TCP D3
# MCIS 6333 - Dr. Esther Mead - SAU - LS24

In [ ]:
# Warning! Dr. Mead used the "Virtual Fashion Club" use case data to create this "Using Python Code To Explore your DVP TCP D3" ipynb file.
## Your team's use case data will look different.
## Use your Data Dictionary (DD) to determine the contents of your specific team's data.
## "NOCDL" = "Non-optimized code documentation line"
## The majority of the code lines in this ipynb codebook contain non-optimized code documentation lines and must be optimized before use in graded submissions and/or use in the workplace for employee training purposes.

In [1]:
# Import (and install when necessary) the required libraries and packages for this session
import pandas as pd # For data processing (NOCDL)
import numpy as np # For linear algebra (NOCDL)
import matplotlib.pyplot as plt # For plotting (NOCDL)
import piplite # For installing packages inside of a "wrapper" when using the JupyterLite web-based IDE. (NOCDL)
await piplite.install("openpyxl") # For installing the "openpyxl" library for working with Excel files. (NOCDL)

In [2]:
# show the contents of your directory
import os
os.listdir('/drive')

['Creating DVs with your DVP TCP data [pie & donut]-DVP-LS24.ipynb',
 'D3.xlsx',
 'for_my_eyes_only',
 'data',
 'README.md',
 'notebooks']

In [14]:
# load your D3 XLSX file.
D3 = pd.read_excel("/drive/D3.xlsx") # Use the pandas read_excel() function to work with your xlsx file
# WARNING! Change the code in the above code line to your specific path and file name.
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different.

In [4]:
# Print the first five rows of the content of the data to look at it
D3.head()

   ID  Q8  Q9  Q10  Q11  Q12
0   1   1  -2   -1    0    2
1   2   2   0    0    2    4
2   3   3   1    0    4    3
3   4   3   0    1    3    4
4   5   3   1    1    3    3

In [5]:
# Get a list of the sheet names of D3
D3 = pd.ExcelFile("/drive/D3.xlsx") # Load your D3 file again, this time using the pandas ExcelFile() function to get the sheets names of your xlsx file
D3.sheet_names # Use the sheet_names property of the ExcelFile() function to get the sheet names of your xlsx file.

['Data', 'Data Dictionary']

In [6]:
# Save the D3 "Data" sheet as a variable called "D3_data" for current and later use
D3_data = pd.read_excel(D3, "Data")

In [7]:
# Print the first five rows of the content of D3_data to look at it
D3_data.head()
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different.

   ID  Q8  Q9  Q10  Q11  Q12
0   1   1  -2   -1    0    2
1   2   2   0    0    2    4
2   3   3   1    0    4    3
3   4   3   0    1    3    4
4   5   3   1    1    3    3

In [8]:
# Save the D3 "Data Dictionary" sheet as a variable called "D3_DD" for current and later use
D3_DD = pd.read_excel(D3, "Data Dictionary")
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different. Use your DD.

In [9]:
# Print the contents of D3_DD
D3_DD
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different. Use your DD.

,ID,ResponseID,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Q8,Where do you prefer to shop for fashion items ...,Online (1),In-store (2),Both (3),None (4),NaN,NaN,NaN
1,Q9,I would benefit from joining a Virtual Fashion...,Strongly disagree (-2),Disagree (-1),Unsure (0),Agree (1),Strongly agree (1),NaN,NaN
2,Q10,How likely are you to join a Virtual Fashion C...,Highly unlikely (-2),Unlikely (-1),Unsure (0),Likely (1),Highly likely (2),NaN,NaN
3,Q11,"If you were to join a Virtual Fashion Club, ho...",Never (0),Once per year (1),Once per month (2),Once per week (3),Once per day (4),A couple of times per day (5),NaN
4,Q12,How many hours do you spend online per day?,None (0),Less than one hour (1),1 to almost 3 hours (2),3 to almost 5 hours (3),5 to almost 7 hours (4),7 to almost 9 hours (5),9 or more hours (6)

In [10]:
# Transpose D3_DD if you want to see it by columns instead of by rows
D3_DD.T
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different. Use your DD.

,0,1,2,3,4
ID,Q8,Q9,Q10,Q11,Q12
ResponseID,Where do you prefer to shop for fashion items ...,I would benefit from joining a Virtual Fashion...,How likely are you to join a Virtual Fashion C...,"If you were to join a Virtual Fashion Club, ho...",How many hours do you spend online per day?
Unnamed: 2,Online (1),Strongly disagree (-2),Highly unlikely (-2),Never (0),None (0)
Unnamed: 3,In-store (2),Disagree (-1),Unlikely (-1),Once per year (1),Less than one hour (1)
Unnamed: 4,Both (3),Unsure (0),Unsure (0),Once per month (2),1 to almost 3 hours (2)
Unnamed: 5,None (4),Agree (1),Likely (1),Once per week (3),3 to almost 5 hours (3)
Unnamed: 6,NaN,Strongly agree (1),Highly likely (2),Once per day (4),5 to almost 7 hours (4)
Unnamed: 7,NaN,NaN,NaN,A couple of times per day (5),7 to almost 9 hours (5)
Unnamed: 8,NaN,NaN,NaN,NaN,9 or more hours (6)

In [11]:
# Change the text display options so that we can see the entire questions of the variables.
pd.set_option('display.max_colwidth', None)

In [12]:
# Now look at the D3_DD again to see the entire content (non-truncated).
D3_DD
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different. Use your DD.

,ID,ResponseID,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Q8,Where do you prefer to shop for fashion items such as clothing and accessories?,Online (1),In-store (2),Both (3),None (4),NaN,NaN,NaN
1,Q9,I would benefit from joining a Virtual Fashion Club.,Strongly disagree (-2),Disagree (-1),Unsure (0),Agree (1),Strongly agree (1),NaN,NaN
2,Q10,How likely are you to join a Virtual Fashion Club?,Highly unlikely (-2),Unlikely (-1),Unsure (0),Likely (1),Highly likely (2),NaN,NaN
3,Q11,"If you were to join a Virtual Fashion Club, how often would you visit its virtual platform?",Never (0),Once per year (1),Once per month (2),Once per week (3),Once per day (4),A couple of times per day (5),NaN
4,Q12,How many hours do you spend online per day?,None (0),Less than one hour (1),1 to almost 3 hours (2),3 to almost 5 hours (3),5 to almost 7 hours (4),7 to almost 9 hours (5),9 or more hours (6)

In [13]:
# Get a list of the column names in D3_Data
D3_data.columns
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different.

Index(['ID', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12'], dtype='object')

In [ ]:
# STOP!!!!!!!!!!!!!!!!!!! THE CODE BELOW MUST BE EDITED FOR YOUR OWN USE CASE DATA FROM YOUR D3_DD.
# If you execute it before editing, you will break your dataframe and you will have to start over from the "D3 = pd.read_excel" step near the beginning of this ipynb file.

In [15]:
# Rename the columns based on what the Data Dictionary for your D3 revealed about your D3 data (the non-truncated content).
D3_data.rename(columns={"Q8": "Where do you prefer to shop for fashion items such as clothing and accessories?", 
                        "Q9": "I would benefit from joining a Virtual Fashion Club.", 
                        "Q10": "How likely are you to join a Virtual Fashion Club?", 
                        "Q11": "If you were to join a Virtual Fashion Club, how often would you visit its virtual platform?", 
                        "Q12": "How many hours do you spend online per day?"})
# When you exectute this code block/cell, it will automatically display the output on the screen.
# Warning! Dr. Mead used the "Virtual Fashion Club" use case to create this "Using Python Code To Explore your DVP TCP D3" ipynb file. Your team's use case data will look different. Use your DD.

,ID,Where do you prefer to shop for fashion items such as clothing and accessories?,I would benefit from joining a Virtual Fashion Club.,How likely are you to join a Virtual Fashion Club?,"If you were to join a Virtual Fashion Club, how often would you visit its virtual platform?",How many hours do you spend online per day?
0,1,1,-2,-1,0,2
1,2,2,0,0,2,4
2,3,3,1,0,4,3
3,4,3,0,1,3,4
4,5,3,1,1,3,3
...,...,...,...,...,...,...
177,178,2,0,0,3,3
178,179,3,0,-1,4,2
179,180,3,1,-1,3,2
180,181,1,1,-2,3,4
181,182,2,0,0,3,4

In [ ]:
# End of codebook